.icon-preview {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}

pre {
    display: block;
    padding: 1rem;
    font-size: 0.875rem;
    color: rgb(67.9, 85.4, 93.8);
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 1px solid rgb(168.1, 181.85, 188.45);
    border-radius: 4px;
}