.activity-timeline {
  position: relative;
  padding-left: 30px;

  .activity-item {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    
    &:not(:last-child)::before {
      content: '';
      position: absolute;
      left: -21px;
      top: 28px;
      bottom: 0;
      width: 2px;
      background-color: #e0e0e0;
    }

    .activity-icon {
      position: absolute;
      left: -30px;
      top: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #0EA5E9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 10px;
      z-index: 1;
    }

    .activity-content {
      flex: 1;
    }
  }
}
