.cursor-pointer {
  cursor: pointer;
}

.log-item-hover {
  transition: background-color 0.2s ease;
  
  &:hover {
    background-color: rgba(var(--bs-theme-rgb), 0.1);
  }
}

// Offcanvas drawer styles
.offcanvas {
  width: 500px;
  
  @media (max-width: 576px) {
    width: 100%;
  }
}
