<nav class="m-bottomnav">
  <a class="m-bottomnav__item" routerLink="/mobile/dashboard" routerLinkActive="active">
    <span class="ic-wrap"><i class="fa fa-gauge-high"></i></span>Dashboard
  </a>
  <a class="m-bottomnav__item" routerLink="/mobile/projects" routerLinkActive="active">
    <span class="ic-wrap"><i class="fa fa-diagram-project"></i></span>Project
  </a>
  <a class="m-bottomnav__item" routerLink="/mobile/nodes" routerLinkActive="active">
    <span class="ic-wrap"><i class="fa fa-microchip"></i></span>Perangkat
  </a>
  <a class="m-bottomnav__item" routerLink="/mobile/alerts" routerLinkActive="active">
    <span class="ic-wrap"><i class="fa fa-bell"></i></span>Peringatan
  </a>
  <a class="m-bottomnav__item" routerLink="/mobile/profile" routerLinkActive="active">
    <span class="ic-wrap"><i class="fa fa-user"></i></span>Profil
  </a>
</nav>
